
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3

venv/
env/
.venv/


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db


.git/
.gitignore

# Docker
Dockerfile
.dockerignore


staticfiles/
media/


.coverage
htmlcov/
*.cover
